<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title> Unit Converter History </title>
	<link rel="stylesheet" type="text/css" href="converter.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="convController" ng-cloak ng-init="searchCookie() ">
	<section class="name-page" ng-show="showNamePage">
		<div class="name-title"> Please Enter Your Name: </div>
		<form id="nameField" name="nameField">
			<input type="text" autocomplete="off" id="input" name="input" ng-keypress="enter($event, 0)" ng-model="user"/>
			<span class="enter-button" ng-click="enter($event,1)"> Enter </span>
		</form>
		<div ng-if="showInvalidName" class="invalid"> Please enter a name </div>

		<div ng-click="removeCookie()"> remove </div>
	</section>

	<section class="conv-page" ng-show="showConvPage">
		<div class="title"> Convert away, <span id="name" ng-bind="cookieName"></span></div>
		<div class="buttons">
			<span ng-repeat="x in buttons" class="unit-button" ng-bind="x" ng-click="genDropDown(x)"> </span>	
		</div>
		<form id="numField" name="numField" ng-show="showNumField">
			<input type="text" autocomplete="off" id="numInput" name="numInput" ng-keypress="enterNum($event, 0)"/>
		</form>

		<select name="length" ng-model="selectedLengthA" ng-show="showLenOpt" ng-click="unitClickA(selectedLengthA)">
			<option ng-repeat="x in lengths">{{x}}</option>
		</select>
		<select ng-model="selectedLengthB" ng-show="showLenOpt" ng-click="unitClickB(selectedLengthB)">
			<option ng-repeat="x in lengths">{{x}}</option>
		</select>

		<select ng-model="selectedTempA" ng-show="showTempOpt" ng-click="unitClickA(selectedTempA)">
			<option ng-repeat="x in temps">{{x}}</option>
		</select>
		<select ng-model="selectedTempB" ng-show="showTempOpt" ng-click="unitClickB(selectedTempB)">
			<option ng-repeat="x in temps">{{x}}</option>
		</select>

		<!-- <select ng-model="selectedAreaA" ng-show="showAreaOpt" ng-click="unitClickA(selectedAreaA)">
			<option ng-repeat="x in areas">{{x}}</option>
		</select>
		<select ng-model="selectedAreaB" ng-show="showAreaOpt" ng-click="unitClickB(selectedAreaB)">
			<option ng-repeat="x in areas">{{x}}</option>
		</select>

		<select ng-model="selectedVolumeA" ng-show="showVolumeOpt" ng-click="unitClickA(selectedVolumeA)">
			<option ng-repeat="x in volumes">{{x}}</option>
		</select>
		<select ng-model="selectedVolumeB" ng-show="showVolumeOpt" ng-click="unitClickB(selectedVolumeB)">
			<option ng-repeat="x in volumes">{{x}}</option>
		</select> -->

		<select ng-model="selectedMassA" ng-show="showMassOpt" ng-click="unitClickA(selectedMassA)">
			<option ng-repeat="x in mass">{{x}}</option>
		</select>
		<select ng-model="selectedMassB" ng-show="showMassOpt" ng-click="unitClickB(selectedMassB)">
			<option ng-repeat="x in mass">{{x}}</option>
		</select>

		<span class="convBtn" ng-show="showConvBtn" ng-click="enterNum($event, 1)"> Convert </span>
		<div ng-if="showInvalid" class="invalid"> Please select a unit </div>
		<div ng-if="showInvalidNum" class="invalid"> Invalid Number </div>
		<div ng-click="removeCookie()"> remove </div>
	</section>

	<section ng-show="showHistory">
		<div class="history">
			<div class="header">
				<span class="history-title"> History </span>
				<span class="clearBtn" ng-click="clearAll()"> Clear All </span>
			</div>
			<div id="conv">
				<span ng-bind="listName"></span>
			</div>
		</div>

	</section>

</body>



<script src="app.js"></script>
<script type="text/javascript" src="converter.js"></script>
</html>
