<!DOCTYPE html>
<html>
<head>
	<title> Stroop Effect </title>
	<link rel="stylesheet" type="text/css" href="stroop.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="mainController">
	<section class="home-page" ng-show="homeShow">
		<div class="desc"> What is the Stroop Effect?... </div>
		<div class = "instr"> How to play: </div>
		<div>
			<span ng-click="startBtn()" class="start-button"> START </span>
		</div>
	</section>

	<section class="word-page" ng-show="wordShow">
		<div ng-class="class" class="color-text" ng-bind="color"> </div>
		<div>
			<span ng-repeat="x in arr" ng-click="next(x)" class="option-button" ng-bind="x">
			</span>
		</div>
		<div class="time" ng-bind="startTime"> </div>
		<div class="buttons">
			<span ng-click="resultPage()" class="quit-button"> QUIT </span>
			<span ng-click="reloadPage()" class="home-button"> HOME </span>
		</div>
	</section>

	<section class="result-page" ng-show = "resultShow">
		<div class = "score" ng-bind="score"> </div>
		<span ng-click="reloadPage()" class="home-button" id="home-button"> HOME </span>
	</section>


</body>


<script src="app.js"></script>
<script type="text/javascript" src="mainController.js"></script>
<script src="http://chancejs.com/chance.min.js"></script>
</html>
